<main class="authorization">
    <form action="" class="authorization__auth-form">
        <img src="../../../images/logo/logo.png" class="app__main-logo" alt="Логотип">
        {{> FormInput type="text" name="login" placeholder="Email/login"}}
        {{> FormInput type="password" name="password" placeholder="Пароль"}}
        {{> Button id="sign-in" text="Войти" }}
        {{> MainLink href="#" text="Нет аккаунта?" }}
    </form>
</main>