<main class="authorization">
    <form action="" class="authorization__auth-form">
        <img src="../../../images/logo/logo.png" alt="Логотип">
        {{> Button id="sign-in" parentClassName="authorization__auth-form" text="Войти" }}
        {{> Button id="register" parentClassName="authorization__auth-form" text="Зарегистрироваться" }}
        {{> MainLink href="#" parentClassName="authorization__auth-form" text="Нет аккаунта?" }}
    </form>
</main>