@import "./variables.less";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: @main-font-family;
}

#app {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app__main-button {
    .mainButton;
}

.app__main-link {
    .mainLink;
}

.app__main-input {
    .mainInput;
}

.app__main-logo {
    margin-top: 30px;
}

@import '../pages/previewPage/styles/previewPage.less';
@import '../pages/authorizationPage/styles/authorizationPage.less';