@import "./variables.less";

.titlePageLayout() {
    height: 630px;
    width: 550px;
    border-radius: 15px;
    box-shadow: @block-shadow;
    background-color: @layout-bgc;
    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.mainButton() {
    background-color: @main-bgc;
    border: 1px solid black;
    border-radius: 8px;
    min-width: 150px;
    min-height: 50px;
    padding: 10px 45px;
    margin-top: 20px;
    
    font: inherit;
    color: white;
    font-weight: 300;
    font-size: 16px;

    &:hover {
        cursor: pointer;
        color: @link-hover-font-color;
    }
    &:focus {
        outline: 1px solid black;
    }
}

.mainLink() {
    color: @main-link-color;
    font-size: 13px;
    text-decoration: none;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    &:focus {
        outline: none;
        text-decoration: underline;
    }
}

.mainInput() {
    height: 25px;
    width: 190px;
    border-radius: 25px;
    border: none;
    padding: 5px 15px;
    margin-top: 10px;

    font-family: inherit;
    font-size: 13px;

    &:focus {
        outline: none;
    }
}