<main class="authorization">
    <form action="" class="authorization__auth-form">
        <img src="../../../images/logo/logo.png" class="app__main-logo" alt="Логотип">
        {{> FormInput type="email" name="email" placeholder="Email"}}
        {{> FormInput type="text" name="login" placeholder="Логин"}}
        {{> FormInput type="text" name="firstname" placeholder="Имя"}}
        {{> FormInput type="text" name="lastname" placeholder="Фамилия"}}
        {{> FormInput type="password" name="password" placeholder="Пароль"}}
        {{> FormInput type="password" name="password-confirm" placeholder="Подтверждение пароля"}}
        {{> Button id="register-button" text="Зарегистрироваться" }}
        {{> MainLink href="#" text="Уже есть аккаунт?" }}
    </form>
</main>