<main class="profile">
    <div class="profile__header">
        <img class="header__avatar" src={{ profileImg }} alt="Profile image">
        <h1 class="header__profile-name">{{ profileName }}</h1>
    </div>
    <div class="profile__credentials">
        <ul>
            <li class="credentials__credentials-item">
                <span class="credentials-item__label">Почта</span>
                <span class="credentials-item__value">pochta@yandex.ru</span>
            </li>
            <li class="credentials__credentials-item">
                <span class="credentials-item__label">Логин</span>
                <span class="credentials-item__value">ivanivanov</span>
            </li>
            <li class="credentials__credentials-item">
                <span class="credentials-item__label">Имя</span>
                <span class="credentials-item__value">Иван</span>
            </li>
            <li class="credentials__credentials-item">
                <span class="credentials-item__label">Фамилия</span>
                <span class="credentials-item__value">Иванов</span>
            </li>
            <li class="credentials__credentials-item">
                <span class="credentials-item__label">Имя в чате</span>
                <span class="credentials-item__value">Иван</span>
            </li>
            <li class="credentials__credentials-item">
                <span class="credentials-item__label">Телефон</span>
                <span class="credentials-item__value">+7 (909) 967 30 30</span>
            </li>
        </ul>
    </div>
    <nav class="profile__menu">
        <button>Изменить данные</button>
        <button>Изменить пароль</button>
        <button class="red">Выйти</button>
    </nav>
    <button class="app__nav-button">
        <img src={{ navButtonSrc }} alt="Back arrow">
    </button>
</main>