<main class="main-content">
    <nav class="menu">
        <div class="menu__menu-header">
            <div class="menu-header__avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
            <span class="menu-header__profile-name">Profile Name</span>
        </div>
        <form class="menu__menu-search">
            {{> FormInput type="text" name="search" placeholder="Поиск"}}
        </form>
        {{#each chatItems}}
            {{> ChatItem 
                avatarSrc=avatarSrc 
                chatName=chatName 
                lastMessage=lastMessage 
                timeStamp=timeStamp
                disabled=disabled
                unreadMessagesCount=unreadMessagesCount
            }}
        {{/each}}
        {{> MainLink href=preview.href id=preview.id text=preview.text}}
    </nav>
    <section class="chat">
            
    </section>
</main>