<main class="main-content">
    <nav class="main-content__menu">
        <div class="main-content__menu_header">
            <div class="main-content__menu_header_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
            <span class="main-content__menu_header_profile-name">Profile Name</span>
        </div>
        <form class="main-content__menu_search">
            {{> FormInput type="text" name="search" placeholder="Поиск"}}
        </form>
        {{#each chatItems}}
            {{> ChatItem 
                avatarSrc=avatarSrc 
                chatName=chatName 
                lastMessage=lastMessage 
                timeStamp=timeStamp
                disabled=disabled
                unreadMessagesCount=unreadMessagesCount
            }}
        {{/each}}
        {{> MainLink href=preview.href id=preview.id text=preview.text}}
    </nav>
    <section class="main-content__chat">
            
    </section>
</main>