<main class="main-content">
    <section class="main-content__menu">
        <div class="main-content__menu_header">
            <div class="main-content__menu_header_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
            <span class="main-content__menu_header_profile-name">Profile Name</span>
        </div>
        <div class="main-content__menu_search">
            {{> FormInput type="text" name="search" placeholder="Поиск"}}
        </div>
        <div class="main-content__menu_chat-item" tabindex="1">
            <div class="main-content__menu_chat-item_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
        </div>
        <div class="main-content__menu_chat-item" tabindex="1">
            <div class="main-content__menu_chat-item_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
        </div>
        <div class="main-content__menu_chat-item" tabindex="1">
            <div class="main-content__menu_chat-item_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
        </div>
        <div class="main-content__menu_chat-item" tabindex="1">
            <div class="main-content__menu_chat-item_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
        </div>
        <div class="main-content__menu_chat-item" tabindex="1">
            <div class="main-content__menu_chat-item_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
        </div>
        <div class="main-content__menu_chat-item" tabindex="1">
            <div class="main-content__menu_chat-item_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
        </div>
        <div class="main-content__menu_chat-item" tabindex="1">
            <div class="main-content__menu_chat-item_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
        </div>
        <div class="main-content__menu_chat-item" tabindex="1">
            <div class="main-content__menu_chat-item_avatar">
                <img src="../../../images/profile/avatar.png" alt="Profile photo">
            </div>
        </div>
        {{> MainLink href=link.href text=link.text}}
    </section>
    <section class="main-content__chat">
        <p>Выберите чат, чтобы отправить сообщение</p>
    </section>
</main>