@import "../../../styles/variables.less";
@import "../../../styles/mixins.less";

.authorization {
    .titlePageLayout;
}

.authorization__auth-form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.authorization__auth-form_main-button {
    .mainButton;
}

.authorization__auth-form_main-link {
    margin-top: -10px;
    color: @main-link-color;
    font-size: 13px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}