<main class="not-found">
    <div class="not-found__logo">
        <img src={{ notFoundLogoSrc }} alt="logo">
        <h1>Упс, кажется Вы сбились с курса...</h1>
    </div>
    <div class="not-found__404">
        <h2>404</h2>
        <p>Page not found</p>
    </div>
    <nav>
        {{> MainLink href=link.href text=link.textContent}}
    </nav>
</main>